@{
    ViewData["Title"] = "Volunteer";
}

<div class="text-center">
    <h1 class="display-4">Volunteer here</h1>
    <p>We are always in need of new volunteers to help care for these animals.</p>
</div>